<div class="col-md-3">
    <p class="lead">Quản lý giải đấu</p>
    <div class="list-group">
        <a href="/BM1" class="list-group-item">
            Hồ sơ đội bóng 
        </a>
        <a href="/BM2" class="list-group-item">
            Vòng thi đấu
        </a>
        <a href="/BM3" class="list-group-item">
            Kết quả thi đấu
        </a>
        <a href="/BM4" class="list-group-item">
            Danh sách cầu thủ 
        </a>
        <a href="/BM5" class="list-group-item">
            Bảng xếp hạng 
        </a>
        <a href="/BM6" class="list-group-item">
            Danh sách các cầu thủ ghi bàn
        </a>
    </div>
</div>