<div class="col-md-9">
    <table class="table table-striped" border=1>
        <tr>
             <th colspan="2">BM5</th>
             <th colspan="5">Bảng xếp hạng</th>
        </tr>
        <tr>
            <td colspan="7">Ngày</td>
          
        </tr>
        <tr>
            <th>STT</th>
            
            <th>Đội</th>
            <th>Thắng</th>
            <th>Hòa</th>
            <th>Thua</th>
            <th>Hiệu số</th>
            <th>Hạng</th>
        </tr>
         <tr>
            <td>1</td>
            <td>Man U</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>12-5</td>
            <td>2</td>
        </tr> 
    </table>
</div>