<div class="col-md-9">
    <table class="table table-striped" border=1>
        <tr>
             <th colspan="1">BM4</th>
             <th colspan="4">Danh sách cầu thủ</th>
        </tr>
        <tr>
            <th>STT</th>
            <th>Cầu thủ</th>
            <th>Đội</th>
            <th>Loại cầu thủ</th>
            <th>Tổng số bàn thắng</th>
        </tr>
         <tr>
            <td>1</td>
            <td>Vũ Đình Thăng</td>
            <td>HaNoi ACB</td>
            <td>Attacker</td>
            <td>12</td>
        </tr>
    </table>
</div>