<div class="col-md-9">
    <table class="table table-striped" border=1>
        <tr>
             <th colspan="1">BM6</th>
             <th colspan="4">Danh sách các cầu thủ ghi bàn</th>
        </tr>
        <tr>
            <td colspan="5">Ngày</td>
          
        </tr>
        <tr>
            <th>STT</th>
            
            <th>Cầu thủ</th>
            <th>Đội</th>
            <th>Loại cầu thủ</th>
            <th>Số bàn thắng</th>
        </tr>
         <tr>
            <td>1</td>
            <td>Lương Xuân Trường</td>
            <td>Eakar Sentinel</td>
            <td>Winger</td>
            <td>2</td>
        </tr>
       
    </table>
</div>  