<div class="col-md-9">
    <table class="table table-striped" border=1>
        <tr>
             <th colspan="1">BM3</th>
             <th colspan="4">Kết quả thi đấu</th>
        </tr>
        <tr>
            <td colspan="2">Đội 1</td>
            <td colspan="3">Đội 2</td>
        </tr>
        <tr>
            <td colspan="2">Tỉ số</td>
            <td colspan="3">Sân</td>
        </tr>
        <tr>
            <td colspan="2">Ngày</td>
            <td colspan="3">Giờ</td>
        </tr>
        <tr>
            <th>STT</th>
            <th>Cầu thủ</th>
            <th>Đội</th>
            <th>Loại bàn thắng</th>
            <th>Thời điểm</th>
        </tr>
         <tr>
            <td>1</td>
            <td>Vũ Đình Thăng</td>
            <td>Sai gon star</td>
            <td>A</td>
            <td>95:59</td>
        </tr>
       
    </table>
</div>