<div class="col-md-9">
    <table class="table table-striped" border=1>
        <tr>
             <th colspan="1">BM2</th>
             <th colspan="4">Lịch thi đấu</th>
        </tr>
        <tr>
            <td colspan="5" >Vòng thi đấu</td>
        </tr>
        <tr>
            <th>STT</th>
            <th>Đội 1</th>
            <th>Đội 2</th>
            <th>Ngày giờ</th>
            <th>Sân</th>
        </tr>
         <tr>
            <td>1</td>
            <td>Hà Nội T&T</td>
            <td>Đak Lak Legend</td>
            <td>18/5/2018</td>
            <td>Lạch Tray</td>
        </tr>
       
    </table>
</div>